<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mario's Pizza - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mario's Pizza", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (User.Identity.IsAuthenticated && HttpContext.Current.User.IsInRole("SuperUser") || HttpContext.Current.User.IsInRole("Administrator"))
                    {
                        <!-- Administrator and SuperUser options -->
                        <li>@Html.ActionLink("Pizza Manager", "Index", "Pizzas")</li>
                        <li>@Html.ActionLink("Topping Manager", "Index", "Toppings")</li>
                    }

                    @if (User.Identity.IsAuthenticated && HttpContext.Current.User.IsInRole("SuperUser") || HttpContext.Current.User.IsInRole("Staff Memeber"))
                    {
                        <!-- Staff Member and SuperUser options -->

                    }

                    @if (User.Identity.IsAuthenticated && HttpContext.Current.User.IsInRole("SuperUser") || HttpContext.Current.User.IsInRole("Customer"))
                    {
                        <!-- Customer and SuperUser options -->
                        <li>@Html.ActionLink("Create Order", "Index", "Orders")</li>
                        <li>@Html.ActionLink("Book a table", "Index", "Bookings")</li>
                    }

                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <!-- BODY -->
        @RenderBody()
        <!-- END BODY -->
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Created by Malcolm Malloy 22026320</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/custom")
</body>
</html>
