@model FIT5032_Assignment.Models.Pizza

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pizza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PizzaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PizzaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PizzaDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PizzaDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PizzaPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PizzaPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PizzaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
