@model IEnumerable<FIT5032_Assignment.Models.Pizza>

@{
    ViewBag.Title = "Pizza Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pizza Manager</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PizzaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PizzaDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PizzaPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PizzaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PizzaDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PizzaPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PizzaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PizzaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PizzaId })
        </td>
    </tr>
}

</table>
