@model IEnumerable<FIT5032_Assignment.Models.Pizza>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row content-padding">
    <div class="col-sm-6">

        <h2>Menu Manager</h2>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="btn-align-right">
            <br />
            @Html.ActionLink("Back to Admin Menu", "../Home/Admin", null, null, new { @class = "btn-style " })
            @Html.ActionLink("Add a Pizza", "Create", null, null, new { @class = "btn-style" })
        </div>

    </div>
    <div class="col-sm-6"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/dataTables")
}
<script>
    $(document).ready(function () {
        $('.table').DataTable();
    });
</script>