@model IEnumerable<FIT5032_Assignment.Models.Topping>

@{
    ViewBag.Title = "Topping Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Topping Manager</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ToppingName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToppingName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ToppingId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ToppingId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ToppingId })
            </td>
        </tr>
    }

</table>
