@model FIT5032_Assignment.Models.Booking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row content-padding">
    <div class="col-sm-6">
        <h2>Booking Details</h2>
        <br />

        <div>
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.BookingDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BookingDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BookingTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BookingTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BookingGuestNum)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BookingGuestNum)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Location.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location.Name)
                </dd>

            </dl>
        </div>
        <div class="btn-align-right col-md-2">
            @Html.ActionLink("Back to List", "Index", null, null, new { @class = "btn-style " })
            @Html.ActionLink("Edit", "Edit", new { id = Model.BookingId }, new { @class = "btn-style " })
        </div>
    </div>
    <div class="col-sm-6"></div>
</div>