
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row content-padding">
    <div class="col-sm-6">

        <h2>Admin Options</h2>
        <br />
        <ul class="ul-admin-options">
            <li>@Html.ActionLink("Events Calendar", "Index", "Events")</li>
            <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
            <li>@Html.ActionLink("Menu Manager", "Index", "Pizzas")</li>
            <li>@Html.ActionLink("Pizza Ratings", "PizzaRatings", "Home")</li>
            <li>@Html.ActionLink("Bulk Email", "BulkEmail", "Home")</li>
        </ul>
    </div>
    <div class="col-sm-6"></div>
</div>