@model IEnumerable<FIT5032_Assignment.Models.Location>

@{
    ViewBag.Title = "Finder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row content-padding">
    <div class="col-sm-12">
        <h2>Restaurant Finder</h2>

        <div class="map-container">
            <div id="map" style="height:300px"></div>

            <table class="table map-remove" style="display:none;">
                <tr></tr>
                @foreach (var item in Model)
                {
                    <tr class="coordinates">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="description">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="latitude">
                            @Html.DisplayFor(modelItem => item.Latitude)
                        </td>
                        <td class="longitude">
                            @Html.DisplayFor(modelItem => item.Longitude)
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div class="map-missing" style="display:none;">
            <p>Oops, we havent added any restaurant locations yet!</p>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/mapbox")
}