@model IEnumerable<FIT5032_Assignment.Models.Event>

@{
    ViewBag.Title = "StaffCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Events Calendar</h2>

<div id="calendar"></div>
<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="events">
                <td class="title">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="start">
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
            </tr>
        }

    </table>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/fullcalendar"),
    @Scripts.Render("~/bundles/staffcalendar")
}