@model FIT5032_Assignment.Models.Restaurant

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row content-padding">
    <div class="col-sm-6">
        <h2>Add Restaurant</h2>
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.RestAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RestAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RestAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RestPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RestPhone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RestPhone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="btn-align-right col-md-2">
                        @Html.ActionLink("Back to List", "Index", null, null, new { @class = "btn-style " })
                        <input type="submit" value="Add Restaurant" class="btn-style" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-6"></div>
</div>