@model FIT5032_Assignment.Models.Restaurant

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row content-padding">
    <div class="col-sm-6">
        <h2>Remove Restaurant</h2>

        <p>Are you sure you wish to remove this restaurant?</p>
        <br />
        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.RestAddress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RestAddress)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RestPhone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RestPhone)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="btn-align-right col-md-2">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn-style" })
                    <input type="submit" value="Remove" class="btn-style" />
                </div>

            }
        </div>
    </div>
    <div class="col-sm-6"></div>
</div>